/* =============
    Header
============= */
header {
    background-color: white;
    display: grid;
    grid-template-areas: "burger survival" "nav nav";
    grid-template-columns: 20% auto;
    position: fixed;
    top: 0;
    width: 100%;
    @include lg {
        grid-template-areas: "nav survival";
        grid-template-columns: 70% auto;
    }

    section:nth-child(1) {
        grid-area: burger;
        padding: 10px;
        @include lg {
            display: none;
        }

        button {
            background-color: white;
            border: none;
            outline: none;
        }
    }

    section:nth-child(2) {
        align-items: center;
        display: flex;
        grid-area: survival;
        justify-content: flex-end;
        padding: 10px;

        a {
            span {
                display: none;
                @include lg {
                    display: block;
                }
            }
        }
    }

    nav {
        background-color: $charcoal;
        grid-area: nav;
        @include lg {
            background-color: white;
            display: block !important;
        }
    }
}
