/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 585px;

// Tablets
$screen-md-min: 745px;

// Large tablets and small desktops
$screen-lg-min: 980px;

// Desktops and small monitors
$screen-xl-min: 1375px;

// Extra large monitors
$screen-xxl-min: 1600px;

// Colors
$white: #fff;
$black: #000;
$sunflower: #F8C832;
$charcoal: #222222;
